
#menu__toggle {
    visibility: hidden;
}
.hamburger-button {
display: flex;
align-items: center;    
position: fixed;
top: 30px;
left: 30px;
width: 40px;
height: 40px;
cursor: pointer;
z-index: 1;

}


.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after
 {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
}
.hamburger-lines::before {
    content: "";
    top: -10px;
    
}
.hamburger-lines::after {
    content: "";
    top: 10px;
    
}
.menu-box {
    display: block;
    position: fixed;
    padding: 75px 0;
    width: 250px;
    height: 100%;
    background-color: rgb(200, 200, 200);
    top: 0;
    visibility: hidden;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    
}
.menu-item {
    padding: 20px 30px;
    font-size: 24px;
}
.menu-item:hover {
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}
#menu__toggle:checked ~ .menu-box{
    visibility: visible;
}
#menu__toggle:checked ~ .hamburger-button .hamburger-lines {
    
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .hamburger-button .hamburger-lines:before {
    display: none;
}
#menu__toggle:checked ~ .hamburger-button .hamburger-lines:after {
    top: 0;
    transform: rotate(90deg);
}